*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Mulish', sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 20px 70px 50px 30px;
}

.header__start-block {
    display: flex;
    gap: 28px;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
  }

.burger-menu__bar {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
    cursor: pointer;
}

.header__center-block {
    padding-left: 59px;
    flex: 0 1 889px;
}

.search-form {
    position: relative;
}

.search-form__input {
    width: 100%;
    height: 44px;
    padding: 12px 23px;
    background-color: rgba(235,235,235, 0.3);
    border-radius: 20px;
    font-size: 1rem;
    font-family: "Mulish";
    color:rgba(48, 56, 76, 0.4);
}

.search-form__icon {
    position: absolute;
    top: 13px;
    right: 17px;
}

.header__end-block {
    display: flex;
    flex: 0 1 765px;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.icon-notification-link {
    position: relative;
}

.icon-notification {
    position: absolute;
    top: -4px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding-top: 4px;
    text-align:center;
    font-weight: 700;
    font-size: 0.75rem;
    background-color: #FF0000;
    color: #fff;
}

/* Main */

.main-container {
  display: flex;
  padding: 0 30px 0 30px;
  gap: 66px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main-navigation__item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.main-navigation__item:first-child {
  color:#FF0000;
}

.navigation-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.navigation-menu__item {
  display: flex;
  align-items: center;
  gap: 13px;
}

.subscriptions-menu__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscriptions-menu__title {
  font-size: 1.13rem;
  font-weight: 700;
}

.subscriptions-menu__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.subscriptions-menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscriptions-menu__name {
  white-space: nowrap;
}

.main-catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.user-videos {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.user-videos__header {
  display: flex;
  justify-content: space-between;

}

.user-videos__profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-videos__title {
 font-size: 1.63rem;
 font-weight: 700;
}

.swiper-controls {
  display: flex;
  align-self: flex-end;
  gap: 10px;
  flex: 0 1 185px;
}

.swiper-arrow {
  width: 28px;
  height: 28px;
}

.user-videos__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1800px) { 
 .user-videos__content {
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
 } 
}
 @media (max-width: 1200px) { 
  .user-videos__content {
   grid-template-columns: repeat(3, 1fr);
  } 
 }
 @media (max-width: 1000px) { 
  .user-videos__content {
   grid-template-columns: repeat(2, 1fr);
  } 
 }
 @media (max-width: 600px) { 
  .user-videos__content {
   gap: 30px;
   grid-template-columns: repeat(1, 1fr);
  } 
}

.user-videos__card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.user-videos__video-container {
  position: relative;
  padding: 0 0 12px 0;
}

.user-videos__video-time {
  position: absolute;
  right: 10px;
  bottom: 20px;
  border-radius: 12px;
  padding: 3px 9px;
  font-size: 0.88rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff
}

.user-videos__video-title {
  font-size: 1rem;
  font-weight: 700;
}

.user-videos__info {
  padding: 8px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.81rem;
  color: rgb(194, 194, 194);
}
.user-videos_annotation {
  color: rgb(194, 194, 194);
}
/* Recommended videos*/

.recommended-videos {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.recommended-videos__header {
  display: flex;
  justify-content: space-between;

}

.recommended-videos__profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.recommended-videos__title {
 font-size: 1.63rem;
 font-weight: 700;
}

.recommended-videos__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1900px) { 
 .recommended-videos__content {
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
 } 

}
 @media (max-width: 1400px) { 
  .recommended-videos__content {
   grid-template-columns: repeat(1, 1fr);
  } 
 }

.recommended-videos__card {
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.recommended-videos__video-container {
  position: relative;
  padding: 0 0 13px 0;
}

.recommended-videos__video-time {
  position: absolute;
  right: 10px;
  bottom: 20px;
  border-radius: 12px;
  padding: 3px 9px;
  font-size: 0.88rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff
}

.recommended-videos__video-title {
  font-size: 1rem;
  font-weight: 700;
}

.recommended-videos__info {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: rgb(194, 194, 194);
  
}

.recommended-videos__author {
  padding: 0 20px 0 0;
}